*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    justify-content: center;
    align-content: center;
    background: linear-gradient(135deg, #d9a7c7, #fffcdc);
    font-family: "PT Sans", sans-serif;
}

.navBar{
    display: flex;
    margin: 50px auto ;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 5rem;
    padding: 15px 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(255, 255, 255, 0.7);
}

.logo{
    display: flex;
    align-items: center;

}

.logo span{
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
    
}

.logo a:hover{
    transform: scale(1.1);
}

.logo a{
    text-decoration: none;
}
.navLinks{
    display: flex;
    list-style: none;

}

.navLinks li{
    margin: 0 .3em;
    transition: transform 1 cubic-bezier(0.25, 1, 0.5, 1);
    cursor: pointer;
}

.navLinks a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1rem;
}

.material-simbols-outlined{
    display: flex;
}

.funciones{
    display: flex;
    margin: 1.2em;
    animation: funciones 3s infinite;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Hace que el elemento suba al entrar */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated-entry {
    animation: fadeIn 1s ease-in-out; /* Aplica la animación con duración de 1 segundo */
  }

.navLinks li:hover {
    transform: scale(1.2);
}

/* TODO --> ARREGLAR LA DIVISION DE BACKGROUND COLOR DE SECCIONES */

.content {
    display: flex;  
    align-items: center;  
    justify-content: space-between;
    flex-wrap: wrap; 
    width: 70%;
    height: 52rem;
    margin: 0 auto;
}

strong{
    display: inline;
}

.textbutton{
    width: 40%;
    font-size: 21px;
    /* display: flex; */
    margin-left:5rem;
    
}

.hojas {
    display: flex;
    width: 45%;
    max-width: 100%;
    margin-right: 5rem;
    margin-top:-4rem ;
}

.presentacion{
    font-size: 350%;

    font-weight: 450;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.botonprincipal{
    margin-top: 3rem;
    margin-left: 9rem;
    display: inline-block;
    padding: 24px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
}

.botonprincipal:hover{
    background-color: #d9a7c7;
}

/* .date{
    position: absolute;
    margin: 200px;
} */


.fecha {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    /* perspective: 100px; */
}

.dia {
    font-size: 200px;
    position: absolute;
    margin-top: -10rem;
    margin-left: 16rem;
    font-weight: bold;
    perspective: 500px; /* Ajusta este valor según sea necesario */

    /* Transformación para cizallar y rotar */
    transform: skewX(-18.37deg) translateZ(50px);

    /* Ajustes opcionales para mejorar el efecto */
    transform-origin: bottom left; /* Origen de la transformación */
    color: black; /* Color del texto */
}

.contenedormes{
    transform: skewX(-18.37deg) translateZ(50px);
    margin-left: 58.3rem ;
    margin-top: -24rem;
    position: absolute;
    height: 65px;
    width: 343.9px;
    background-color: #d9a7c7;
}

.mes {
    /* position: absolute; */
    /* transform: skewX(-18.37deg) translateZ(50px); */
    /* padding: 3.2px ; */
    font-size: 47px;
    /* margin-left: 61rem;
    margin-top: -23.9rem; */
    display: flex;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;

}

.borde{
    transform: skewX(-18.37deg) translateZ(50px) skewY(18.37deg);
    margin-left: 79.7rem ;
    margin-top: -23rem;
    position: absolute;
    height: 65px;
    width: 51px;
    background-color: #a47a95;
}

.un-digito {
    width: 301px; /* Ancho para un dígito */
    
    text-align: center;
  }
  
  .dos-digitos {
    width: 301px; /* Ancho para dos dígitos */
    text-align: center;
  }
  
