*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    justify-content: center;
    align-content: center;
    background: linear-gradient(135deg, #d9a7c7, #fffcdc);
    font-family: "PT Sans", sans-serif;
}

.navBar{
    display: flex;
    margin: 50px auto ;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 5rem;
    padding: 15px 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(255, 255, 255, 0.7);
}

.logo{
    display: flex;
    align-items: center;

}

.logo span{
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
    
}

.logo a:hover{
    transform: scale(1.1);
}

.logo a{
    text-decoration: none;
}
.navLinks{
    display: flex;
    list-style: none;

}

.navLinks li{
    margin: 0 .3em;
    transition: transform 1 cubic-bezier(0.25, 1, 0.5, 1);
    cursor: pointer;
}

.navLinks a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1rem;
}

.material-simbols-outlined{
    display: flex;
}

.funciones{
    display: flex;
    margin: 1.2em;
    animation: funciones 3s infinite;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Hace que el elemento suba al entrar */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated-entry {
    animation: fadeIn 1s ease-in-out; /* Aplica la animación con duración de 1 segundo */
  }

.navLinks li:hover {
    transform: scale(1.2);
}

/* TODO --> ARREGLAR LA DIVISION DE BACKGROUND COLOR DE SECCIONES */

.content {
    display: flex;  
    justify-content: space-between;
    width: 70%;
    height: 120px;
    padding-bottom: 17%;
    margin: 0 auto;
    margin-top: 6rem;
    
}

strong{
    display: inline;
}

.textbutton{
    width: 40%;
    font-size: 21px;
    margin-left:5rem;
    display: flex;
    /* justify-content: center;
    align-items: start; */
    justify-content: flex-start;  /* Asegura que los elementos dentro estén alineados a la izquierda */
    position: relative; 
}


.presentacion{
    font-size: 3.5vw;
    width: 30vw;
    display: flex;
    font-weight: 450;
    margin-top: 3.5rem;
    font-family: "Outfit", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* position: absolute; */
    
}


.botonprincipal{
    /* position: absolute; */
    bottom: 0;
    margin-top: 3rem;
    width: 8rem;
    height: 3rem;
    display: block;
    padding: auto;
    border: 0;
    text-decoration: none;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    text-transform: uppercase;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
}

.botonprincipal:hover{
    background-color: #d9a7c7;
}

/* .date{
    position: absolute;
    margin: 200px;
} */

.contenedorCuadrado{
    position: relative;
    display: flex;
    justify-content: end;
    padding-right: 7%;
    width: 100%;
    height: 100%;

}


.cuadrado{
    position: relative;
    width: 20vw;
    height: 40vh;
}

.cuadradoHojaContenedor{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transform: skewX(-18.37deg) translateZ(50px);
    border: 1px solid #ccc; /* Borde gris claro */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra para simular el efecto de apilamiento */
    z-index: 12;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}


.cuadradoHoja{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transform: skewX(-18.37deg) translateZ(50px);
    border: 1px solid #ccc; /* Borde gris claro */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra para simular el efecto de apilamiento */
    z-index: 4;
    top: 0;
    left: 0;
}

.cuadradoHoja:nth-child(2) {
    top: 3%; /* Desplazamiento vertical */
    left: 3%; /* Desplazamiento horizontal */
    transform: rotate(-3deg); /* Ligera rotación para el efecto inclinado */
    background-color: rgb(217,217,217);
    transform: skewX(-18.37deg) translateZ(50px);
    z-index: 3;
    border: 1px solid #ccc; /* Borde gris claro */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra más marcada */
}

.cuadradoHoja:nth-child(3) {
    top: 6%;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    left: 6%;
    transform: rotate(-6deg); /* Más inclinación */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra aún más profunda */
    transform: skewX(-18.37deg) translateZ(50px);

}

.cuadradoHoja:nth-child(4) {
    top: 9%;
    z-index: 1;
    background-color: rgb(217, 217, 217);
    left: 9%;
    transform: rotate(-6deg); /* Más inclinación */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra aún más profunda */
    transform: skewX(-18.37deg) translateZ(50px);

}

.cuadradoHoja1{
    position: absolute;
    width: 20vw;
    height: 40vh;
    background-color: rgb(217,167,199);
    transform: skewX(-18.37deg) translateZ(50px);
    border: 1px solid #ccc; /* Borde gris claro */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra para simular el efecto de apilamiento */
    z-index: 9;
    top: 0;
    left: 0;
    display: flex;
    align-items: normal;
    justify-content: center;
}

.especial{
    height: 9vh;
    width: 29vw;
    position: absolute;
    z-index: 12;
    overflow: hidden;
}

.fecha {
    font-size: 100%;
    cursor: pointer;
    position: absolute;
    z-index: 12;
    user-select: none;
    /* perspective: 100px; */
}

.dia {
    font-size: 30vh;
    position: absolute;
    margin-top: 3vh;
    margin-left: 0;
    font-weight: bold;
    transform-origin: bottom left;
    color: black;
    z-index: 14;
    cursor: pointer;
    user-select: none;
}

/* .contenedormes{
    margin-left: 5.5vh;
    transform: skewX(-18.37deg) translateZ(50px);
    position: absolute;
    z-index: 5;
    height: 20%;
    width: 113%;
    background-color: #d9a7c7;
    z-index: 6;
} */


.mes {
    position: absolute;
    font-size: 7vh;
    /* margin-left: 61rem;
    margin-top: -23.9rem; */
    display: flex;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    z-index: 9;
    user-select: none;
}

.borde{
    transform: skewX(-4.37deg)  skewY(29.37deg);
    position: absolute;
    margin-left: 22.5vw;
    margin-top: 2vh;
    height: 20%;
    width: 15%;
    background-color: #a47a95;
    z-index: 6;
}

.un-digito {
    width: 301px; /* Ancho para un dígito */
    
    text-align: center;
  }
  
  .dos-digitos {
    width: 301px; /* Ancho para dos dígitos */
    text-align: center;
  }

  .ayuda{
    border-radius: -50%;
    margin-top: 24rem;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nota{
    width: 300px;
    height: 400px;
    background-color: aqua;
  }
  
