/* pene */
body{
    margin: 0;
    padding: 0;
    background-color: #000f08;
    color: #ffffff ;
    font-family: "Fira Sans", sans-serif;
}

p{
    margin: 0%;
    padding: 0;
}

nav{
    background-color: #99D6CD;
    /* margin: 0;
    padding: 0; */
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 40px;
}

/* h1{
    color: #1c3738;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
} */
.contenedor{
    padding: .50em ;
    padding-left: 1.5%;
    display: flex;
    flex-wrap: wrap;
    gap: .50em;
    align-items: center;
    
}

.dia{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;    
}

#c01{
    background-color: #1c3738;
}
#c02{
    background-color:#8baaad ;
}
#c03{
    background-color: #4d4847;
}

div{
    display: inline;
}

h2{
    display: inline;
    flex-wrap: wrap;
}

.rojo{
    height: 11em;
    width: 11em;
    background-color: brown;
}